{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    Maintenance Dashboard
</h1>

<table class="table table-bordered">

    <thead class="table-dark">

        <tr>

            <th>Machine</th>
            <th>Issue</th>
            <th>Status</th>
            <th>Created By</th>
            <th>Date Created</th>
            <th>Actions</th>

        </tr>

    </thead>

    <tbody>

        {% for ticket in tickets %}

        <tr>

            <td>{{ ticket.machine }}</td>

            <td>{{ ticket.issue }}</td>

            <td>

    {{ ticket.get_workflow_status_display }}

</td>

<td>

    {{ ticket.created_by }}

</td>

<td>

    {{ ticket.created_at }}

</td>

            <td>

                <a href="/tickets/{{ ticket.id }}/"
   class="btn btn-primary btn-sm">

    View

</a>

<a href="/tickets/{{ ticket.id }}/request-materials/"
   class="btn btn-warning btn-sm">

    Request Materials

</a>

<a href="/tickets/{{ ticket.id }}/close/"
   class="btn btn-danger btn-sm">

    Close

</a>
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}